# Ignorar archivos de entorno y credenciales
.env
credentials.json

# Ignorar archivos de Python compilados y cachés
__pycache__/
*.pyc

# Ignorar archivos de logs
*.log

# Ignorar archivos temporales de sistema
.DS_Store
Thumbs.db 